::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(185, 185, 185); 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175); 
  
}

::-webkit-scrollbar-thumb:hover {
  background: #3f6792; 
}

::placeholder
{
    font-weight: 100;
    font-style: italic;
}

a{
    cursor: pointer;
}

.list_produtos_estoque_baixo{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* ---------------------------------- PRELOADERS ------------------------------------- */
#preloader_full{
    display: none;
    position: absolute;
    height:100vh;
    width: 100%;
    overflow: none;
    z-index: 1000;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    z-index: 99999;
}

#preloader_full > img{
    margin: 290px auto;
    position: relative;
    height: 100px;
}

#preloader_itens_vendas{
    display: none;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    width: 100%;
    height: 318px;
    position: absolute;
    text-align: center;
}

#preloader_itens_vendas > img{
    margin: 170px;
    height: 43px;
}

#preloader_troco,
#preloader_total_pagamento{
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    width: 100%;
    height: 383px;
    position: absolute;
    margin-top: -100px;
    height: 100px;
}

#preloader_troco > img{
    margin: 35px -35px;
    position: absolute;
    height: 37px;
}

#preloader_total_pagamento > img{
    margin: -107px -100px;
    position: absolute;
    height: 324px;
}

#preloader_suprimento{
    display: none;
    background-color: rgba(0,0,0,.6);
    width: 547px;
    height: 283px;
    position: absolute;
}

#preloader_suprimento > img{
    margin: 135px 228px;
    position: absolute;
    height: 41px;
}

#preloader_sangria{
    display: none;
    background-color: rgba(0,0,0,.6);
    width: 547px;
    height: 288px;
    position: absolute;
}

#preloader_sangria > img{
    margin: 135px 228px;
    position: absolute;
    height: 41px;
}

.dropdown-item:hover{
    background-color: rgb(170, 170, 170);
}

/* -------------------- NFe CSS ------------------------ */
.tb_notas_fiscais,
.list_produto_add {
    width: 100%;
    text-align: center;
}

#qtd_produto_nfe{
    width: 80px;
    text-align: center;
}

input{
    outline: none;
}

.cancelamento_nfe form > div:nth-child(1),
.cancelamento_nfe form > div:nth-child(2),
.carta_correcao_nfe form > div:nth-child(1),
.carta_correcao_nfe form > div:nth-child(2) 
{
    display: flex; 
    justify-content: space-around;
}

.cancelamento_nfe form > div:nth-child(3),
.carta_correcao_nfe form > div:nth-child(3)
{
    display: flex; 
    flex-direction: column;
}

.cancelamento_nfe form > div:nth-child(3) > label,
.carta_correcao_nfe form > div:nth-child(3) > label
{
   color: red;
}

/* ----------------------------------------------------- */

/* -------------------- EMITENTE CSS ------------------------ */

.search_empresa{
    position: absolute;
    right: 0;
    margin: -22px 20px;
    border: none;
    background: rgba(0,0,0,0.2);
    text-align: center;
}


/* ----------------------------------------------------- */

/* -------------------- CATEGORIA CSS ------------------------ */

.categorias_produto,
.numero_caixa{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}

.categorias_produto > .lista_categoria,
.numero_caixa > .lista_caixas{
    flex: 2;
    height: 360px;
    overflow: auto;
}

.lista_categoria .tb_categorias,
.lista_caixas .tb_caixa{
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.lista_categoria .tb_categorias thead th,
.lista_caixas .tb_caixa thead th{
    font-size: 13px;
    background: teal;
    color: #FFF;
    text-align: center;
    height: 30px;
}

.lista_categoria .tb_categorias tbody td,
.lista_caixas .tb_caixa tbody td{
    text-align: center;
}

.categorias_produto > .adicionar_categoria,
.numero_caixa > .adicionar_caixa{
    display: flex;
    flex-direction: column;
    background: #e2e2e2;
    width: 245px;
}

.categorias_produto .adicionar_categoria .header_card_categoria,
.numero_caixa .adicionar_caixa .header_card_caixa
{
    text-align: center;
    border-bottom: 1px solid;
    background: teal;
    color: #FFF;
    padding: 7px;
    font-family: monospace;
    font-weight: bold;
}

.categorias_produto .adicionar_categoria div:nth-child(2),
.numero_caixa .adicionar_caixa div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 271px;
}

.categorias_produto .adicionar_categoria div:nth-child(2) label,
.numero_caixa .adicionar_caixa div:nth-child(2) label
{
    font-size: 15px;
    text-align: left;
}

.categorias_produto .adicionar_categoria .btn_add_categoria,
.numero_caixa .adicionar_caixa .btn_add_caixa
{
    border: none;
    background: #3f6792;
    padding: 6px;
    margin-top: 0px;
    color: #FFF;
    bottom: 0;
    margin: 13px 19px;
}


.categorias_produto .adicionar_categoria div:nth-child(2) input,
.numero_caixa .adicionar_caixa div:nth-child(2) input
{
   outline: none;
   border: none;
   border-bottom: 1px solid rgba(0,0,0,0.2);
   height: 37px;
   margin-bottom: 15px;
}

.categorias_produto .adicionar_categoria div:nth-child(2) textarea,
.numero_caixa .adicionar_caixa div:nth-child(2) textarea
{
   outline: none;
   border: none;
}

.editar_categoria {
    background-color: cadetblue;
}

.editar_categoria .dados_editar_categoria{
    margin-bottom: 15px;
    padding: 0 10px
}

.editar_categoria .dados_editar_categoria label{
   color: #FFF;
}

.editar_categoria .edit_categoria_inputs input,
.editar_categoria .edit_categoria_inputs textarea{
    outline: none;
    border: none;
}

.editar_categoria .edit_categoria_inputs {
    display: flex;
    align-items: center;

}

.editar_categoria form .btn_edit_categoria{
    background: #3f6792;
    color: #FFF;
    border: none;
    padding: 6px;
    float: right;
}

.editar_categoria .edit_categoria_inputs div{

}

.editar_categoria .edit_categoria_inputs div:nth-child(1){
    
}

.editar_categoria .edit_categoria_inputs div:nth-child(2){
    
}

/* ----------------------------------------------------- */


/* -------------------- PRODUTOS CSS ------------------------ */
.cadastro_empresas_inputs label,
.cadastro_produtos_inputs label,
.cadastro_clientes_inputs label
{
    font-weight: 100 !important;
}

#form_cadastro_produto{
    margin-top: -27px;
}

.detalhes_produto,.editar_produto{
    display: flex;
    gap: 10px;
}

.img_detalhe > img{
    width: 95px !important;
    height: 66px !important;
}

.detalhes_produto > div:nth-child(1) > span:nth-child(1)
{
    font-size: 22px;
}

.editar_produto .img_editar > img {
    width: 165px !important;
    height: 205px !important;
    margin-top: 0;
}

.detalhes_produto .fa-image,
.editar_produto .fa-image {
    font-size: 137px !important;
    padding: 10px;
}

.detalhes_produto > .dados_detalhe,
.editar_produto > .dados_editar,
.editar_empresa > .dados_editar {
    width: 100%;
}

.detalhes_produto > .dados_detalhe div{
    margin: 2px 0;
}
.produto_detalhe {
    font-weight: bold;
}

.detalhes_produto > .dados_detalhe  .cod_barra_detalhe,
.detalhes_produto > .dados_detalhe  .preco_venda_detalhe,
.detalhes_produto > .dados_detalhe  .estoque_minimo_detalhe, .descricao_detalhe {
    text-align: right;
    float: right;
    width: 150px;
}

.detalhes_produto > .dados_detalhe  label,
.editar_produto > .dados_editar  label{
   display: block;
   font-weight: 100 !important;
}

.editar_produto > .dados_editar > form > button {
    position: relative;
    float: right;
    margin-top: 20px;
 }

.editar_produto > div > form > input[type="file"],
#img_produto_input, #file_empresa_input, #file_empresa_input_editar{
    display: none;
}

.img_produto_input, 
.file_empresa_input,
.cadastro_clientes_inputs,
.file_empresa_input_editar{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    align-items: center;
    justify-self: center;
}

.img_produto_input > span:nth-child(1),
.file_empresa_input > span:nth-child(1),
.file_empresa_input_editar > span:nth-child(1){
    cursor: pointer;
    background: teal;
    color: #FFF;
    padding: 2px 4px;
}

.img_produto_input > span:nth-child(2),
.file_empresa_input > span:nth-child(2),
.file_empresa_input_editar > span:nth-child(2){
    width: 200px;
    cursor: pointer;
    color: #615e5e;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.editar_produto > div > form > label{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 309px 38px;
    background: #525e6a;
    color: #FFF;
    padding: 5px;
    cursor: pointer;
}

.search_categoria,
.search_cliente{
    position: absolute;
    right: 0;
    margin: -22px 20px;
    border: none;
    background: rgba(0,0,0,0.2);
    text-align: center;
}

.lista_produto > .search_product{
    position: absolute;
    right: 0;
    margin: -38px 20px;
    border: none;
    background: rgba(0,0,0,0.2);
    text-align: center;
}

.lista_produto_table{
    box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.2);
}

.lista_produto_table thead th,
.lista_empresa_table thead th,
.lista_cliente_table thead th{
    font-size: 13px;
    background: teal;
    color: #FFF;
    text-align: center;
}

.lista_produto_table tbody td,
.lista_empresa_table tbody td,
.lista_cliente_table tbody td{
    padding: 3px;
}

.preco_custo_detalhe, .preco_venda_detalhe, 
.estoque_detalhe, .descricao_detalhe,
.unidade_detalhe, .validade_detalhe,
.id_detalhe, .cod_barra_detalhe, .estoque_minimo_detalhe,
.preco_minimo_detalhe, .ncm_detalhe, .cest_detalhe, .extipi_detalhe, .origem_detalhe, .situacao_tributaria_detalhe, .cfop_detalhe {
    font-size: 15px;
    font-weight: bold;
}

.produto_editar, .preco_compra_editar, .preco_venda_editar, 
.estoque_editar, .descricao_editar,
.unidade_editar, .validade_editar,
.id_editar, .cod_barra_editar, .preco_minimo_editar,
.estoque_minimo_editar, .unidade_medida_editar, .select_categoria,
.ncm_editar, .cest_editar, .extipi_editar, .origem_editar, .cfop_editar {
    width: 140px;
    text-align: center;
}
/* -------------------------------------------- */

/* -------------------- ITEM CSS ------------------------ */

.total_itens{
    margin: -21px;
}

.tb_total_itens{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.tb_total_itens thead th{
    font-size: 13px;
    background: teal;
    color: #FFF;
    text-align: center;
    width: 0px;
    height: 30px;
}

/* -------------------------------------------- */

/* -------------------- VENDAS CSS ------------------------ */

.dados_itens_venda{
    width: 354px;
    text-align:center;
}

.dados_itens_venda .dados_descricao, .dados_qtd, 
.dados_valor_unitario, .dados_subtotal{
    display: flex; 
    flex-direction: column;
    width:100%;
}

.dados_itens_venda .lista_atalhos{
      background: #183c70;
      width: 400px;
      margin-top: 16px;
}

.dados_itens_venda h3{
    background-color:#183c70; 
    color:#FFF;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.dados_itens_venda input{
    width: 340px;
    height: 46px;
    font-size: 35px;
    margin-bottom: 10px;
    background-color: darkgray;
    border: none;
    color:#FFF;
    font-weight: bold;
    text-align: center;
}

.table_itens_vendas {
    width: 100%;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding: 0;
}

.table_itens_vendas > tbody > tr > td > img {
    height:40px;
}

.pdv{
    display:flex; 
    justify-content:space-around;
}

.letreiro{
    width:100%; 
    height:47px; 
    font-size:50px; 
    text-align:center; 
    margin-bottom:20px;
    border:none;
    background-color: #eceff1;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    padding: 37px;
}

.letreiro::placeholder{
    letter-spacing: 5px; 
    font-weight: bold; 
    text-transform: uppercase; 
    color: grey;
}

#qtd_produto, 
#valor_unitario, #subtotal{
    text-align:center;
}

.itens_vendas{
    display: flex;
    flex:2;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    border:none;
    margin-bottom: 5px;
    flex-direction: column;
    margin-right: 15px;
    position: relative;
    background-color: #FFF;
    height: 317px;
}

.itens_vendas .table_itens_vendas{
    overflow: scroll;
    overflow-x: hidden;
}

.table_itens_vendas thead {
    position: sticky;
    top: 0px;
    background-color:#007bff;
    color:#FFF;
    
}

.table_itens_vendas tbody {
   background-color: #FFF;
}

.table_produto_list_pdv tbody tr td{
    padding: 10px;
}

.total_venda {
    font-size: 33px !important;
    font-weight: bold;
    background: #008d7f;
    color: #FFF;
    border: none;
    text-align: center;
    width: 364px;
}

.lista_produtos_input {
    position: absolute;
    width: 325px;
    margin-top: 41px;
}

.lista_produtos_input ul li{
    cursor: pointer;
    text-align: center;
    background-color: lightgray;
    flex: 0 0 auto;
}

.lista_produtos_input ul li:hover{
    background-color: #183c70;
    color:#FFF;
}

.pagamento_pdv{
    display: flex;
    flex-direction: column;
    width: 372px;
    margin: 0 auto;
}

.tabela_produto_pdv input{
    width: 100%;
    text-align: center;
    height: 51px;
}

.pagamento_pdv div{
    display: flex;
}

.pagamento_pdv input, .modal-footer input{
    text-align:center;
    height: 50px;
}

.pagamento_pdv .forma_pagamento{
    text-transform: uppercase;
    text-align:center;  
    font-size: 20px;
    height: 50px;
    margin-bottom: 10px;
}

.table thead tr{
    background: teal;
    color:#FFF;
}

.table thead tr, tbody td{
    text-align: center;
}

.lista_atalhos{
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #183c70;
}

.lista_atalhos .lista_teclas{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.lista_atalhos .lista_teclas span
{
    background-color: #183c70;
    color: #FFF;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    display: block;
}

.modal-footer .result_pagamento{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.modal-footer .result_pagamento label h2{
    font-weight: bold;
    background-color: darkblue;
    color:#FFF;
    padding:10px
}

.modal-footer .result_pagamento label input{
    height: 101px;
    font-size: 35px;
    width: 210px;
    border:none;
    border-radius: 10px;
    background-color: #eceff1;
}

.model-footer .btn_finalizar_venda{
    text-align: center;
    width: 100%;
    background-color: #223746;
}


/* -------------------------------------------- */

/* --------------------Componentes CSS------------------------ */

.tabcontainer {
    float: left;
    width: 100%;
}

.tabheading{
    padding: 0;
    background-color: #e3e3e3;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

.tabheading{
    padding: 0;
    background-color: #e3e3e3;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

.tabheading li.active {
    background-color: #3f6792;
    border-bottom: 0;
}

.tabheading li.active a {
    color: #FFF;
}


.tabheading li {
    display: inline-block;
    border: 1px solid #f5f5f5;
    width: 200px;
    text-align: center;
    background-color: rgb(169 169 169 / 80%);
    cursor:pointer;
    margin: 10px 5px;
    font-family: 'Font Awesome 5 Free';
}

.tabheading li a { 
    padding: 0 2%; 
    color:dimgray;
}

.tabbody.active {
    display: block;
}

.tabbody {
    float: left;
    width: 100%;
    display: none;
}

/* -------------------------------------------- */

/* ========================= Responsividades(Mobile)  ========================= */
